<ul class="navbar-nav ml-auto">
    <li class="nav-item">
        <a class="nav-link text-white" asp-area="" asp-controller="AccountUsers" asp-action="Register">Registrarme</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" asp-area="" asp-controller="AccountUsers" asp-action="Login">Iniciar sesión</a>
    </li>    
</ul>