@using UsersApplication.ViewModels

@model TwoFactorAuthenticationViewModel

<p>
    <strong>Ingrese el código en su APP autenticador</strong>
</p>
@Model.Token

<p>
    Ecanear el código QR
</p>

<div id="qrCode"></div>

<form method="post">
    <input type="hidden" asp-for="Token"/>
    <hr />
    <div class="row">
        <div class="col-sm-7">
            <div class="col-md-12">
                <label asp-for="Code"></label>
                <input type="text" asp-for="Code" class="form-control" placeholder="Código de autenticación"/>
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="col-sm-5">
                <div class="col-md-12 pt4">
                    <button type="submit" class="btn btn-primary mt-3">
                        <i class="fa-solid fa-unlock"></i>
                        Enviar
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/qrcode.js"></script>
    <script type="text/javascript">
        new QRCode(document.getElementById("qrCode"), "@Model.UrlQrCode");
    </script>
}