@using UsersApplication.ViewModels

@model LoginViewModel

@{
    ViewData["Title"] = "Recuperar contraseña";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-body">
        <h3 class="card-title text-center">Recuperar contraseña </h3>

        <form asp-controller="AccountUsers" asp-action="RecoveryPassword" method="post" role="form">
            <div class="text-danger" asp-validation-summary="All"></div>

            <div class="row mt-4">
                <div class="col-md-6 offset-3">
                    <div class="mb-3">
                        <label asp-for="Email" class="col-md-2"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <button type="submit" class="btn btn-success btn-lg w-100">Recuperar contraseña                        
                        <i class="fa-solid fa-unlock"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}