@using Microsoft.AspNetCore.Identity
@using UsersApplication.ViewModels

@inject UserManager<IdentityUser> UserManager
@model ChangePasswordViewModel

@{
    ViewData["Title"] = "Cambiar contraseña";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-body">
        <h3 class="card-title text-center">Cambiar contraseña de usuario</h3>        

        <form asp-controller="Users" asp-action="ChangePassword" method="post" role="form">
            <div class="text-danger" asp-validation-summary="All"></div>

            <input type="hidden" name="email" value="@UserManager.GetUserName(User)" />            

            <div class="row mt-4">
                <div class="col-md-6 offset-3">
                    <div class="mb-3">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row mt-4">
                
                <div class="col-md-6 offset-3">
                    <div class="mb-3">
                        <label asp-for="ConfirmPassword"></label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-10 offset-2">
                    <button type="submit" class="btn btn-success btn-lg w-75">
                        Cambiar contraseña
                        <i class="fa-solid fa-pen-to-square"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }    
}